body {
    background-color: var(--dark-mode-1);
    color: var(--dark-mode-txt);
}


button {
    background-color: var(--light-mode-1);
    border: 2px solid var(--light-mode-2);
    color: var(--light-mode-txt);
    transition-duration: 0.1s;
}
  
button:hover {
    background-color: var(--light-mode-2);
    border: 2px solid var(--light-mode-3);
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--light-mode-1);
        color: var(--light-mode-txt);
    }
}